body{
    background-color: #04BF65;
    color:white;
    padding:0;
    margin:0;
}
#nav_div{
    border-style: groove;
    border-color:gray;
    display:flex;
    color:white;
    font-weight: bold;
    background-color:gray;
    width: 100%;
    justify-content: space-around;
    font-size: 24px;
    position: fixed;
  top: 0;
  width: 100%
}
#slogan{
    display: flex;
    justify-content: center;
}
#nav_div img{
    width:85px;
    
}



#singleInput{
    display:flex;
    justify-content: flex-end;
    color:white;
}

.displayProduct img{ 
    width:330px;
    height:330px;
}
.displayProduct{
    display:flex;  
    justify-content: space-between;
    flex-direction: row;
}
#prices{
    display:flex;  
    justify-content: space-evenly;
}
#SearchBar{
    display:flex;
    justify-content: flex-end;

}
footer {
    display:flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;
  }
#IchigoName{
    display: flex;
    flex-wrap: wrap;
    width:330px;
}
#GokuName{
    display: flex;
    flex-wrap: wrap;
    width:330px;
}
#ShinraName{
    display: flex;
    flex-wrap: wrap;
    width:330px;
}
#ShinraPrice{
font-weight: bold;
text-align: center;
}

#GokuPrice{
    font-weight: bold;
    text-align: center;
}

#IchigoPrice{
    font-weight: bold;
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  #IchigoStatue{
    width:330px;
    height:330px;
  }
  .BuyButton{
      display:flex;
      justify-content: flex-end;
  }
  .SellButton{
      display:flex;
      justify-content: flex-end;
  }
  #buy{
    background-color:green; /* Green */
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

 #sell{
    background-color:red; /* Green */
    border: none;
    border-radius:25px;
    color: white;
    padding: 15px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }
#sell:hover{
    transition: .5s;
    opacity: 0.5;
 }
 #buy:hover{
    transition: .5s;
    opacity: 0.5;
 }

#UL{
    width:330px;
    list-style-type: none;
}
#name{
display: flex;
justify-content: center;
flex-wrap: wrap;
word-wrap: break-word;
}
#IchigoStatue{
    height:400px;
}
#GokuStatue{
    height:400px;
}
#ShinraStatue{
    height:400px;
}
#everything{
    display:flex;
    flex-direction: row;
}
#left{
    
    display:flex;
    flex-direction: column;
}
#right{
    display:flex;
}
.displayManga img{
    height:400px;
}
.displayManga{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.displayClothes img {
    height:400px;
}

.displayClothes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bleach{
    display:flex;
    justify-content: center;
    height:400px;
}
.BuyButton{
    display:flex;
    justify-content: center;
}
.SellButton{
    display:flex;
    justify-content: center;
}
#top{
    text-align: center;
}
.displayCollectibles img {
    height:400px;
    width:400px;
}

.displayCollectibles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}